/*-------------------------------------*/
/*Variables*/
/*-------------------------------------*/
/*Colores*/
/*Fuentes*/
/*Theme*/
[data-theme="light"] {
  --bg-color: #fff;
  --color: #333;
  --togglebgb: #d4e7d5;
  --toggleslider: #fff;
  --roundcolor: #fff;
  --svgcolor: #111;
}
[data-theme="dark"] {
  --bg-color: #333333;
  --color: #e9dcdc;
  --togglebgb: #333;
  --toggleslider: #e9dcdc;
  --roundcolor: #333;
  --svgcolor: #fff;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #141618;
}
input:focus + .slider {
  box-shadow: 0 0 1px #141618;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*-------------------------------------*/
/*Generales*/
/*-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: #303133;
  line-height: 1.4;
  background-color: white;
  transition: all 0.5s;
}
.dark-mode {
  background-color: black;
  color: white;
}
.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #303133;
  transition: all 0.3s ease;
  font-weight: 600;
}
a:hover {
  color: rgba(48, 49, 51, 0.5);
}
.titulo-seccion h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6875rem;
  margin-bottom: 1.125rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  letter-spacing: 0.113em;
}
.titulo-seccion p {
  font-size: 1.25rem;
  color: #777;
}
.imagen-modal {
  width: 90%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}
.imagen-modal + i {
  position: absolute;
  top: 2%;
  right: 1%;
  color: #303133;
  font-size: 2.25rem;
  background: #fff;
  display: inline-block;
  padding: 0.75rem 0.875rem;
  cursor: pointer;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 100%;
  background: url(../img/arr.png) no-repeat 0px 0px;
}
/*-------------------------------------*/
/*Encabezado*/
/*-------------------------------------*/
header .menu-bar-pc {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #eaeaea;
}
header .menu-bar-pc .logo {
  text-align: center;
}
header .menu-bar-pc .logo .navbar-brand {
  font-size: 30px;
}
header .menu-bar-pc .logo .navbar-brand span {
  display: block;
  font-weight: 600;
  color: #141618;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-top: -10px;
}
header .menu-bar-pc .logo i {
  color: #141618;
  text-shadow: none;
  font-size: 0.9em;
}
header .menu-bar-pc .menu-principal a {
  padding: 0 0.5625rem;
}
header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem;
}
header .menu-bar-movil {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #eaeaea;
}
header .menu-bar-movil .logo {
  max-width: 3.125rem;
}
header .menu-bar-movil .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}
header .menu-bar-movil .slideMenu {
  position: fixed;
  top: 5.875rem;
  left: -80%;
  background: #fff;
  text-align: center;
  padding: 1.25rem 2.25rem;
  width: 80%;
  transition: all 0.3s ease;
}
header .menu-bar-movil .slideMenu.active {
  left: 0;
}
header .menu-bar-movil .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}
header .menu-bar-movil .slideMenu .top-redes a {
  padding: 0 0.5625rem;
}
header .menu-bar-movil .slideMenu .menu-principal a {
  display: block;
  padding: 0.625rem 0;
  border-top: 1px solid #eaeaea;
}
/*-------------------------------------*/
/*Main*/
/*-------------------------------------*/
.main {
  margin-top: 5.875rem;
  /*Portada*/
  /*Nuestro equipo*/
  /*Nuestro Servicios Precios*/
  /*Galeria*/
  /* Cita*/
  /* Cita*/
  /*Ubicacion*/
  /*Ubicacion*/
  /*Contacto*/
}
.main .portada {
  overflow: hidden;
}
.main .portada .slider {
  width: 300%;
  display: flex;
}
.main .portada .slider .slide {
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-position: center;
}
.main .portada .slider .slide.foto1 {
  background-image: url('../img/banner1.jpg');
}
.main .portada .slider .slide.foto2 {
  background-image: url('../img/banner2.jpg');
}
.main .portada .slider .slide.foto3 {
  background-image: url('../img/banner5.jpg');
}
.main .portada .slider .slide .overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: relative;
}
.main .portada .slider .slide .overlay .text-portada {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.main .portada .slider .slide .overlay .text-portada h1 {
  display: block;
  font-weight: 600;
  color: #ffff;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}
.main .portada .slider .slide .overlay .text-portada p {
  letter-spacing: 2px;
  line-height: 1.4em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  font-size: 3.1em;
  font-weight: 700;
  color: #fff;
}
.main .nuestro_equipo {
  padding: 47.625rem 0;
}
.main .nuestro_equipo .container .titulo-seccion {
  text-align: center;
}
.main .nuestro_equipo .container .titulo-seccion i {
  font-size: 25px;
}
.main .nuestro_equipo .container .team-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0;
}
.main .nuestro_equipo .container .team-container .col {
  width: 25%;
  padding: 3rem 1.5rem;
}
.main .nuestro_equipo .container .team-container .col .container-img {
  width: 80%;
  margin: auto;
  position: relative;
}
.main .nuestro_equipo .container .team-container .col .container-img:before {
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  content: "";
  display: inline-block;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  bottom: 15px;
  z-index: 1;
}
.main .nuestro_equipo .container .team-container .col .container-img:after {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  content: "";
  display: inline-block;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  bottom: 15px;
  z-index: 1;
}
.main .nuestro_equipo .container .team-container .col .nombre {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.main .nuestro_equipo .container .team-container .col .comentario {
  margin-bottom: 0.5rem;
  text-align: center;
}
.main .nuestro_equipo .container .team-container .col .top-redes {
  text-align: center;
}
.main .nuestro_equipo .container .team-container .col .top-redes a i {
  border: 1px solid #00a98f;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
}
.main .nuestro_equipo .container .team-container .col .top-redes a i:hover {
  color: #00a98f;
}
.main .servicios {
  padding: 1.625rem 0;
}
.main .servicios .container .titulo-seccion {
  text-align: center;
}
.main .servicios .container .titulo-seccion i {
  font-size: 25px;
}
.main .servicios .container .contenedor-menu {
  margin-top: 2.5rem;
}
.main .servicios .container .contenedor-menu .encabezado {
  font-weight: 600;
  font-family: 'Poppins', serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}
.main .servicios .container .contenedor-menu .encabezado li a {
  font-size: 0.83rem;
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.main .servicios .container .contenedor-menu .encabezado li a:hover {
  color: #00a98f;
}
.main .servicios .container .contenedor-menu .encabezado li.active a {
  color: #00a98f;
  border-bottom: 2px solid #00a98f;
}
.main .servicios .container .contenedor-menu .contenido {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #eaeaea;
  padding: 0 2.25rem;
}
.main .servicios .container .contenedor-menu .contenido > div {
  display: none;
  transition: all 0.3s ease;
}
.main .servicios .container .contenedor-menu .contenido .active {
  display: block;
}
.main .servicios .container .contenedor-menu .contenido .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 1px solid #eaeaea;
}
.main .servicios .container .contenedor-menu .contenido .item .col.izq {
  width: 70%;
}
.main .servicios .container .contenedor-menu .contenido .item .col.izq h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}
.main .servicios .container .contenedor-menu .contenido .item .col.izq p {
  font-size: 1rem;
  color: #777;
}
.main .servicios .container .contenedor-menu .contenido .item .col.der {
  width: 30%;
  text-align: center;
  font-size: 2.1875rem;
  color: #00a98f;
}
.main .galeria {
  padding: 1.625rem 0;
}
.main .galeria .container .titulo-seccion {
  text-align: center;
}
.main .galeria .container .titulo-seccion i {
  font-size: 25px;
}
.main .galeria .container .rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin-left: 2rem;
  margin-right: 2rem;
}
.main .galeria .container .rows .col {
  width: 25%;
  padding: 1rem 1.5rem;
  height: 20rem;
}
.main .galeria .container .rows .col .image {
  width: 100%;
  border: 2px solid #00a98f;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.main .galeria .container .rows .col .image.img1 {
  background-image: url('../img/banner1.jpg');
}
.main .galeria .container .rows .col .image.img2 {
  background-image: url('../img/banner2.jpg');
}
.main .galeria .container .rows .col .image.img3 {
  background-image: url('../img/banner3.jpg');
}
.main .galeria .container .rows .col .image.img4 {
  background-image: url('../img/banner4.jpg');
}
.main .galeria .container .rows .col .image .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main .cita {
  background: url(../img/banner1.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
}
.main .localizacion .container .titulo-seccion {
  text-align: center;
}
.main .localizacion .container .titulo-seccion i {
  font-size: 25px;
}
.main .localizacion .container .contenedor {
  position: relative;
}
.main .localizacion .container .contenedor .mapa iframe {
  width: 100%;
  height: 450px;
  /* border: none; */
  outline: none;
  border: 2px dotted #666;
}
.main .localizacion .container .contenedor .informacion {
  position: absolute;
  background: #222;
  padding: 4em 3em;
  border: 1px dashed #222;
  right: 0.2%;
  bottom: 2.1%;
  top: 0.6%;
  width: 40%;
}
.main .localizacion .container .contenedor .informacion .text {
  margin-bottom: 1.5rem;
}
.main .localizacion .container .contenedor .informacion .text h4 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #eee;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.main .localizacion .container .contenedor .informacion .text p {
  font-size: 15px;
  color: #888;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 600;
}
.main .localizacion .container .contenedor .informacion .text p i {
  color: #00a98f;
}
.main .cita .datos {
  padding: 5.625rem 0 11.875rem 0;
  position: relative;
  background-image: url('../img/banner1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 180%;
}
.main .cita .datos .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .cita .datos .container .formulario {
  position: relative;
  z-index: 3;
  background: transparent;
  max-width: 40.625rem;
  border: 2px solid #141618;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 2.25rem;
  width: 90%;
}
.main .cita .datos .container .formulario .titulo-seccion {
  text-align: center;
  color: #fff;
  font-weight: 800;
  border: 2px solid #141618;
}
.main .cita .datos .container .formulario .titulo-seccion i {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group {
  position: relative;
  margin-bottom: 2rem;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="text"],
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="date"],
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="email"],
.main .cita .datos .container .formulario .formulario_contacto .input-group textarea {
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  outline: none;
  padding: 0.9375rem 0;
  background: none;
  border: none;
  border-bottom: 2.5px solid #00a98f;
  vertical-align: top;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="text"]:focus,
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="date"]:focus,
.main .cita .datos .container .formulario .formulario_contacto .input-group input[type="email"]:focus,
.main .cita .datos .container .formulario .formulario_contacto .input-group textarea:focus {
  border-bottom: 2px solid #fff;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group textarea {
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group label {
  color: #fff;
  font-family: 'Poppins', serif;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group label.label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group label.label.active {
  top: -0.75rem;
  margin-left: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #fff;
}
.main .cita .datos .container .formulario .formulario_contacto .input-group .error {
  position: absolute;
  color: #ff3b3b;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  font-weight: 800;
}
.main .cita .datos .container .formulario .formulario_contacto input[type="submit"] {
  font-family: 'Poppins', serif;
  background: #00a98f;
  color: #fff;
  border-radius: 1px;
  border: 2px solid #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3.125rem;
  padding: 0.9375rem;
  width: 50%;
  outline: none;
  transition: all 0.3s ease;
}
.main .cita .datos .container .formulario .formulario_contacto input[type="submit"]:hover {
  background: #808080;
}
/*-------------------------------------*/
/*Pie de página*/
/*-------------------------------------*/
footer {
  margin-top: 2.25rem;
  background: #141618;
  padding: 5.625rem 0;
  text-align: center;
  color: #fff;
}
footer .bottom-redes {
  margin-top: 2.25rem;
}
footer .bottom-redes a {
  padding: 0 0.5625rem;
  color: #fff;
  transition: all 0.3s ease;
}
footer .bottom-redes a:hover {
  color: #00a98f;
}
/*-------------------------------------*/
/*Media Queries*/
/*-------------------------------------*/
@media all and (max-width: 1500px) {
  .main .portada .col .texto {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media all and (max-width: 1199px) {
  .main .portada .col .foto {
    display: none;
  }
  .main .portada .col .texto {
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  .main .nosotros .container .col.izq {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    display: block;
    padding: 0;
    margin-bottom: 2.25rem;
  }
  .main .nosotros .container .col.der {
    width: 100%;
    padding-left: 0;
    text-align: justify;
  }
  .main .contacto .datos .container .blurb {
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    margin-bottom: 2.25rem;
  }
  .main .contacto .datos .container .blurb:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 991px) {
  .main .localizacion .container .contenedor .informacion {
    width: 55%;
  }
}
@media all and (max-width: 736px) {
  .main .localizacion .container .contenedor .informacion {
    padding: 3em;
    width: 100%;
    position: static;
  }
}
@media all and (max-width: 384px) {
  .main .localizacion .container .contenedor .informacion {
    padding: 2em;
  }
}
@media all and (max-width: 800px) {
  header .menu-bar-pc {
    display: none;
  }
  header .menu-bar-movil {
    display: flex;
  }
  header .menu-bar-movil .logo {
    font-size: 3.2rem;
  }
  .main .portada .col {
    width: 100%;
  }
  .main .portada .col .foto-full.izq {
    display: none;
  }
  .main .portada .col .texto h2 {
    text-align: center;
  }
  .main .portada .col .texto p {
    text-align: justify;
  }
  .main .nuestro_equipo .container .team-container .col .container-img:after {
    border-bottom: 1px solid #eee;
    border-right: 2px solid #eee;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    right: 13px;
    top: 13px;
    bottom: 10px;
    z-index: 1;
  }
  .main .nuestro_equipo .container .team-container .col .container-img:before {
    border-bottom: 1px solid #eee;
    border-right: 2px solid #eee;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    right: 13px;
    top: 13px;
    bottom: 10px;
    z-index: 1;
  }
  .main .nuestro_equipo .container .team-container .col {
    width: 50%;
    padding: 3rem 1.5rem;
  }
  .main .galeria .container .rows .col {
    width: 50%;
    padding: 3rem 1.5rem;
  }
}
@media all and (max-width: 580px) {
  .titulo-seccion h2 {
    font-size: 2rem;
  }
  .main .nuestro_equipo .container .contenedor-menu .contenido .item .col.izq {
    width: 100%;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .main .nuestro_equipo .container .contenedor-menu .contenido .item .col.der {
    width: 100%;
  }
  .main .contacto .formulario .formulario_contacto input[type=submit] {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  header .menu-bar-movil .logo {
    font-size: 2.2rem;
  }
  .main .nuestro_equipo .container .team-container .col {
    width: 150%;
    padding: 3rem 1.5rem;
  }
  .main .servicios .container .contenedor-menu .encabezado {
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.09em;
  }
  .main .galeria .container .rows .col {
    width: 150%;
    padding: 3rem 1.5rem;
  }
}
